.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
docs/swagger.json
out/test
node_modules
docs
.github
azure-pipelines.yml
esbuild.js
media/webview.js