body {
	background-color: transparent;
}

.icon-container {
	position: relative
}

.icon-container>.extension-icon,
.icon {
	height: 128px;
	width: 128px;
	object-fit: contain;
}
.identifier {
	font-size: x-small;
}
.header {
	display: flex;
    padding: 20px 20px 14px;
    overflow: hidden;
    font-size: 14px;
}
.details {
	padding-left: 20px;
    overflow: hidden;
    user-select: text;
    -webkit-user-select: text;
}

.actions {
    padding-top: 20px;
}

.title,
.header>.details>.title>.name {
    flex: 0;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    white-space: nowrap;
}
.header>.details>.subtitle {
    padding-top: 6px;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
}
.header>.details>.description {
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}