:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	padding: 0 var(--container-paddding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
	height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

vscode-tag.previewTag {
	--badge-background: #d63f26;
	--badge-foreground: white;
	--tag-corner-radius: 4px;
	font-size: 10px;
	font-weight: normal;
	font-style: italic;
}

vscode-tag.preReleaseTag {
	--badge-background: #1d9271;
	--badge-foreground: white;
	--tag-corner-radius: 4px;
	font-size: 10px;
	font-weight: normal;
	font-style: italic;
}

vscode-tag.versionTag {
	--badge-foreground: #3b3b3b;
	--badge-background: rgb(217,217,217);
	font-weight: normal;
	font-family: Consolas,"SF Mono",Monaco,Menlo,"Ubuntu Mono","Liberation Mono","DejaVu Sans Mono",Courier,monospace
}  